/* стилизация логотипа в хедере*/
.logo {
    display: block;
    padding: 16px 0px;
    color: $primary-black-color;
    font-family: $logo-font;
    font-weight: $bold-font-weight;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    @media screen and (min-width: 768px) {
        padding: 0;
    }
}

.main-logo {
    color: $accent-color;
}

/* стилизация логотипа в футере*/
.footer .logo {
    color: $primary-white-color;
    display: block;
    padding: 0px;
    margin-bottom: 20px;
}