    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent-color: #2196F3;
    $primary-white-color: #ffffff;
    $primary-black-color: #000000;
    $hero-bg-color: #C4C4C4;
    $secondary-bg-color: #F5F4FA;
    $footer-color: #2F303A;
    $border-color: #eeeeee;
    $icon-color: #afb1b8;

    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    $primary-font: Roboto, sans-serif;
    $logo-font: Raleway, sans-serif;

    $primary-font-size: 14px;
    $secondary-font-size: 16px;

    $primary-font-weight: 400;
    $bold-font-weight: 700;

    $primary-letter-spacing: 0.03em;
    $secondary-letter-spacing: 0.06em;